---
---

@import "{{ site.theme }}";

#index-header {
  margin: 0 0;
}

img {
  margin: 0 0 20px;
}

body {
  background-color: #fff7ed;
  color: #112a46;
}

a:hover,
a:focus {
  color: #069;
  font-weight: normal;
  text-decoration: underline;
}
